<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.0" targetFramework="net461" requireReinstallation="true" />
  <package id="DocumentFormat.OpenXml" version="2.18.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.2.10" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.2.10" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="OpenPop" version="2.0.6.2" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net461" />
  <package id="Selenium.Support" version="4.1.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Selenium.WebDriver.ChromeDriver" version="116.0.5845.9600" targetFramework="net472" />
  <package id="Selenium.WebDriver.Extensions" version="4.1.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Diagnostics.EventLog" version="4.7.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
</packages>