<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SA" connectionString="Data Source=KTFP1;Initial Catalog=TestConfiguration;Persist Security Info=True;User ID=sa;Password=12345678" providerName="System.Data.SqlClient" />
    <add name="KDesar2" connectionString="Data Source=SQL2014\KACTUSDC;Initial Catalog=KACTUSCALIDAD;Persist Security Info=True;User ID=KDesar2;Password=C175126128127176174" providerName="System.Data.SqlClient" />
    <add name="SDesar" connectionString="Data Source=SQL2014\KACTUSDC;Initial Catalog=KACTUSGHSELF;Persist Security Info=True;User ID=SDesar;Password=ABCD1234" providerName="System.Data.SqlClient" />
    <add name="TNATALIA" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=ORALINUX)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUSCA)));User Id=KCT_CALI;Password=calidad;" providerName="Oracle.DataAccess.Client" />
    <add name="ODESAR" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=ORALINUX)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUSGHSELF)));User Id=ODESAR;Password=abc123;" providerName="Oracle.DataAccess.Client" />
    <add name="ONATALIA" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=DWORABD1)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUSC5)));User Id=ONATALIA;Password=ONATALIA;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="Project" value="OpheliaFramework" />
    <add key="Collection" value="WEB%20Kactus" />
    <add key="ServerURL" value="http://dwtfskgh/tfs" />
    <add key="ServerPat" value="v6d2teabhfi5obv76jb7tytp77qsbtrvwgog2o37f5yt2pqjg53q" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
